{% extends "layout.html" %}

{% block title %}JSON{% endblock %}

{% block content %}

<h2>Using JSON</h2>
<hr>
<p>JSON endpoints can be accessed using the following syntax:</p>
<p>List of all categories: <code>localhost:5000/categories/JSON/</code></p>
<p>List of all items: <code>localhost:5000/items/JSON/</code></p>
<p>Information about a speicifc category: <code>localhost:5000/category/'Category ID'/JSON/</code></p>
<p>Information about a specific item: <code>localhost:5000/item/'Item ID'/JSON</code></p>
<p>Information about all items in a specific category: <code>localhost:5000/category/'Category ID'/items/JSON/</code></p>


{% endblock %}
