<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    {% block head %}
    <title>{% block title %}{% endblock %} - Item Catalog</title>
    {% endblock %}
  </head>

  <body>
    <div class="container">
      {% include 'navbar.html' %}
      {% include 'sidebar.html' %}
      <div class="col-sm-10">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
